/* ===== Main ===== */
main {
    background-image: url(../public/JapanFlag.png);
    background-repeat: no-repeat;
    background-size: 800px auto; /* largura fixa, altura proporcional */
    background-position: center bottom; /* centralizado e colado na borda inferior */
    
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.CaixaQuestionario {
    width: 40%;
    min-height: 250px;
    padding: 2rem;
    border-radius: 2rem;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    height: 50px;
}

/* ===== Animação ===== */
.animar {
    animation: pulse 0.4s ease-in-out;
}

@keyframes pulse {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
}

/* ===== Botões ===== */
button {
    min-width: 120px;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    transition: 200ms;
    background-color: gainsboro;
}

button:hover {
    background-color: rgb(241, 93, 93);
    transform: translateY(-2px);
}

/* Botão específico da próxima questão */
.BotaoProximaQuestao {
    position: absolute;
    bottom: 5%;
}

.MadeBy {
    position: absolute;
    bottom: 1%;
    font-size: 0.75rem;
    color: white;
}

/* ===== Tela Final ===== */
.TelaFinal {
    background-image: url(../public/Saitama.png);
    background-size: 30%;
    background-position: 8% center;

    width: 100%;
    min-height: 100vh;
}

.TelaFinalBoxResultados{
    width: 35%;
    padding: 2rem;

    background-color: aliceblue;
    border-radius: 2rem;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    text-align: center;
}

.TelaFinal h1 {
    font-size: 2.5rem;
}

.TelaFinal p {
    font-size: 1.5rem;
    font-weight: 500;
}

.TelaFinal button {
    position: absolute;
    bottom: 5%;

    &:hover {
        background-color: lightcoral;
        transform: translateY(-2px);
    }
}
