main {
    background-image: url(../public/JapanFlag.png);
    background-repeat: no-repeat;
    background-size: 800px auto; /* largura fixa, altura proporcional */
    background-position: center bottom; /* centralizado e colado na borda inferior */
    
    border: none;
    outline: none;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul{
    display: flex;
    gap: 1rem;

    list-style: none;
}

.CaixaQuestionario{
    width: 40%;
    min-height: 250px;
    padding: 2rem;

    border-radius: 2rem;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 200px;
    height: 50px;
}

.animar {
  animation: pulse 0.4s ease-in-out;
}

.BotaoProximaQuestao{
    position: absolute;
    bottom: 5%;
}

button{
    min-width: 120px;
    padding: .5rem .5rem;
    font-weight: 500;
    font-size: 1rem;

    outline: none;
    border: none;
    border-radius: 1rem;
    transition: 200ms;
    cursor: pointer;

    background-color: gainsboro;

    &:hover {
        background-color: rgb(241, 93, 93);
        transform: translateY(-2px);
    }
}

.MadeBy{
    position: absolute;
    bottom: 1%;

    font-size: .75rem;
    color: white;
}


/* Tela final */
.TelaFinal {
    background-image: url(../public/JapanFlag.png);
    background-repeat: no-repeat;
    background-size: 800px auto;
    background-position: center bottom;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem; /* espaço entre os elementos */
}

.TelaFinal h1 {
    font-size: 2.5rem;
    color: black;
}

.TelaFinal p {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.TelaFinal button {
    min-width: 150px;
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 1rem;
    background-color: gainsboro;
    cursor: pointer;
    transition: 200ms;
}

.TelaFinal button:hover {
    background-color: rgb(241, 93, 93);
    transform: translateY(-2px);
}


@keyframes pulse {
  0% { opacity: 0.1;; }
  100% { opacity: 1}
}